@use "../components/mixins" as *;
.top-page {
  .head-img {
    h2 {
      position: absolute;
      top: 6rem;
      left: 50%;
      margin-right: -50%;
      right: 50%;
    }
  }
}

article {
  .blog-area {
    ul {
      padding: 0;
      display: inline-flex;
      gap: 1.3rem;

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #636060;
        }
      }
    }
    .blog-item-img {
      position: relative;
      .blog-item-date {
        position: absolute;
        @include blurglass-low;
        display: block;
        width: max-content;
        bottom: -1rem;
        left: 1.5rem;
        padding: 0.8rem 1.7rem;
        border-radius: 0.7rem;

        a {
          font-weight: 700;
          font-size: 1.6rem;
          color: white;
          text-decoration: none;

          h4 {
            padding-bottom: 0;
            margin: 0;
          }
          p {
            padding-top: 0;
            margin-top: 0;
            color: gold;
          }
        }
      }
    }
  }
}
