@use "../components/mixins" as *;

.top-head-image {
  max-height: 35vh;
}
.faq-container {
  .top-page {
    .faq-img {
      .gradient {
        @include gradient;
      }
      position: relative;
      @media (hover: hover) {
        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include blurglass-low;
          border-radius: 1.1rem;
        }
      }

      @media (hover: none) {
        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include blurglass-low;
          border-radius: 1.1rem;
        }
      }
    }
  }
}

@media (hover: none) {
  .faq-card {
    #faq-image {
      max-width: 50%;
      margin-left: 25%;
    }
  }
}
