@use "../components/mixins" as *;
@media (hover: none) {
}
@media (hover: hover) {
  .newsletter {
    .input-group {
      width: 50%;
    }
  }
}
.page-footer {
  background-image: url(/images/wave.svg);
  background-repeat: no-repeat;
  font-size: 1.1rem;
  .container-fluid {
    @include blurglass;
  }

  a {
    text-decoration: none;
    color: rgb(49, 48, 48);
    &:hover:hover {
      color: rgb(6, 6, 6);
      font-weight: 600;
    }
    #facebook {
      color: blue;
    }
    .fa-twitter {
      color: blueviolet;
    }
    .fa-google-plus {
      color: red;
    }

    .fa-instagram {
      color: purple;
    }
  }

  h5,
  h5 > a {
    color: goldenrod;
    font-weight: 600;
    text-transform: uppercase;
  }

  #footer-brand:hover {
    color: darkgoldenrod;
  }
}
