@use '../components/mixins' as *;

header{
  display: flow-root;
  position: absolute;
  height: max-content;
  width: 100%;
  z-index: 9999;
}

.intro-sec{
  img{
    width: 100%;
    height: 100%;
  }
@include blurglass;
}
@media(hover:hover){
@media screen and(min-width:768px) {

}
.intro-sec{
  position: absolute;
  height: max-content;
  width: 100%;
  top: 71%;
}


}


@media(hover:none){
@media screen and(max-width:768px) {
.intro-sec{
  position: absolute;
  height: max-content;
  width: 100%;
  top: 51.55%;
}

}
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

