@use '../components/mixins' as *;

@media(hover:hover){
section.brief-description{
  position: absolute;
  top: 21em;
  font-size: 1.4rem;
  #brief-desc{
    background-image: url(/images/bg.svg);
    .card{
      background-color:transparent;
    }
  }
}
}


@media(hover:none){
section.brief-description{
  position: relative;
  top:22em;

}
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

