@use "../components/mixins" as *;
/* #region  Larger screen */
@media (hover: hover) {
  .navbar {
    z-index: 1111;
    @include blurglass-medium;
    position: fixed;
    width: 100%;
    font-weight: 500;
    border-radius: 0;
    transition: border-radius 3s ease-in-out;
    padding-right: 20px;
    transition: font-weight 0.5s ease-in;
    .nav-link {
      text-transform: uppercase;
      &:hover {
        color: rgba(0, 0, 0, 0.471);
        font-weight: 700;
      }
    }
  }

  section.carol-mobile {
    display: none;
    z-index: -1;
  }

  html:not([data-scroll="0"]) {
    @media screen and(min-width:768px) {
      .navbar {
        left: 45%;
        margin-left: -40%;
        top: 2%;
        width: 90%;
        border-radius: 15px;
        transition: border-radius 3s ease-in-out;
        .nav-link {
          &:hover {
            color: inherit;
          }
        }
      }
    }
  }

  @media screen and (max-width:992px) {
    .card{
      display: none;
    }
  }
  .navbar-brand {
    padding-left: 10px;
    img {
      width: 25px;
    }
    #ambling {
      position: absolute;
      top: 1.32rem;
      color: goldenrod;
      font-weight: 600;
      font-size: larger;
    }
  }
}
/* #endregion */

/* #region  Mobile Devices */

@media (hover: none) {
  .navbar {
    @include blurglass-low;
    font-weight: 500;
    font-size: 0.934rem;
    border-radius: 0em;
    z-index: 1111;
  }
  .navbar-brand {
    img {
      width: 1.1rem;
    }
    #ambling {
      position: absolute;
      top: 0.903rem;
      color: goldenrod;
      font-weight: 600;
      font-size: larger;
    }
  }
  section.carol {
    display: none;
    z-index: -1;
  }
  #search-but {
    border: none;
    padding: 0;
    margin: 0;
    z-index: 990;
    background-color: inherit;
    color: inherit;
  }
  .navbar-collapse {
    @include blurglass-high;
    position: absolute;
    top: 100%;
    padding: 0.6rem;
    right: 0.1%;
    z-index: 9999;
    cursor: pointer;
    border-radius: 0px 0 0 12px;
  }

  // Button for toggling the navbar when in its collapsed state
  .navbar-toggler {
    line-height: 1;
    color: transparent;
    background-color: transparent; // remove default button style
    border: none; // remove default button style
    // @include border-radius(var(--#{$prefix}navbar-toggler-border-radius));
    // @include transition(var(--#{$prefix}navbar-toggler-transition));

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
      outline: 0;
      //box-shadow: 0 0 0 var(--#{$prefix}navbar-toggler-focus-width);
    }
  }

  .navbar-toggler-icon {
    display: inline-block;
    max-width: 1.3em;
  max-height: 1.43em;
    vertical-align: middle;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  html:not([data-scroll="0"]) {
    .navbar {
      @include blurglass-lower;
      left: 60%;
      margin-left: -55%;
      right: 50%;
      margin-right: -50%;
      top: 2%;
      width: 90%;
      border-radius: 15px;
      transition: border-radius 3s ease-in-out;
      transition: background-color 3s ease-in-out;

      .nav-link {
        &:hover {
          color: inherit;
        }
      }
    }
  }
}
/* #endregion Mobile*/
