/* Error: Undefined mixin.
 *     ,
 * 441 | @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   node_modules\bootstrap\scss\_variables.scss 441:1  @use
 *   scss\sections\_carousel.scss 3:2                   @use
 *   scss\style.scss 20:1                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a     \2577 \a 441 \2502  @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   node_modules\\bootstrap\\scss\\_variables.scss 441:1  @use\a   scss\\sections\\_carousel.scss 3:2                   @use\a   scss\\style.scss 20:1                               root stylesheet';
}
