@mixin blurglass {
  backdrop-filter: blur(13px) saturate(152%);
  -webkit-backdrop-filter: blur(13px) saturate(152%);
  background-color: rgba(233, 226, 214, 0.41);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

@mixin blurglass-medium {
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(242, 238, 230, 0.81);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

@mixin blurglass-high {
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  background-color: rgba(206, 197, 173, 0.93);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

@mixin blurglass-low {
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(245, 189, 103, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
@mixin blurglass-lower {
      backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(252, 231, 206, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
